.hintsTracker {
    height: 100%;
    margin: 0% 2%;
}

.hintsTextArea {
    resize: none;
    width: 100%;
    height: 100%;
    max-height: 450px;
    box-sizing: border-box;

    color: var(--scheme-text);
    background: var(--scheme-background);
}