@layer common {
    /* this should be a :global class but vite simply doesn't generate a class name here??? */
    .item-container {
        user-select: none;
        outline-style: none;
        display: flex;
        > img {
            width: 100%;
        }
    }
}
