.counters {
    display: grid;
    grid-template-columns: max-content max-content;
    row-gap: 12px;
    font-size: large;
    column-gap: 8px;
}

.counter {
    text-align: right;
    font-weight: bold;
}

.accessibleEntrance {
    color: var(--scheme-inLogic);
}
