@import './additionalComponents/button.css';
@import './additionalComponents/input.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--scheme-text);
    background-color: var(--scheme-background);

    line-height: 1.5;
    font-size: 16px;
}

@font-face {
    font-family: 'HyliaSerif';
    src: url('assets/HyliaSerifBeta-Regular.otf') format('opentype');
}


/* Set by the main tracker on the whole document so that tooltips that are
   temporarily scrolled out of bounds don't create scrollbars... */
.overflowHidden,
.overflowHidden > body {
    overflow: hidden;
    /* this is annoyingly needed for dialogs on the main tracker
       because radix hides overflow on the main body but the main body is empty */
    width: 100vw;
    height: 100vh;
}

/* a bunch of styles carried over from bootstrap */
*,
::after,
::before {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

[role='button'] {
    cursor: pointer;
}

[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

button,
input,
textarea {
    font-family: unset;
}

legend {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

code {
    font-family: monospace;
}

hr {
    opacity: 0.25;
    border: 0;
    margin: 1rem 0;
    border-top: 1px solid;
}

a {
    color: #0d6efd;
    &:hover {
        color: #0a58ca;
    }
}